.auth-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 70%;
	height: 400px;
/*	background-color: gray;*/
}
#sign-up-welcome{
    font-family: 'Inknut Antiqua', serif;
    color: darkGreen;
    font-size: 17px;


}


#sign-up-tag{
font-family: 'Inknut Antiqua', serif;
    color: gold;
     font-size: 14px;
     margin-left: 150px;
}
.container-fluid {
    background-color: darkgreen;
    border: none;
}
#loginbackground {
    background-color: rgba(245,240,198,.325);
    background-size: cover;
}

#signupbackground {
    background-color: rgba(245,240,198,.325);
    background-size: cover;
  
}

.sign-label{

    color: DarkGreen;
        font-family: 'Inknut Antiqua', serif;
}

.sign-contain{

    margin-top: 27px;
}

#password-input{

    background-color: white;
}

#email-input{

    color: white;
    width:220px;
}

.sign-up-btn{

    color: DarkGreen;
    background-color: white;
    border: solid DarkGreen;
        font-family: 'Inknut Antiqua', serif;
}

.login-sign-label{

   position:relative;
   right:54px;
   bottom:12px;
}


.login-contain{

    margin-right: 50px;
}
.navbar {
    background-color: #77773c;
}
.head {
    background-color: White;
    color: black;
    border: solid gold 1px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}
.logo {
    font-size: 48px;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bold;
    margin-left: 100px;
}
.input {
    width: 80%;
    margin: 0 auto; 
}
label {
    color: black;
}
.right {
    float: right;
}